* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* ------------ HEADER ---------- */

.container {
  max-width: 1642px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header_container {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  top: 0;
  z-index: 3;
  padding: 20px 0px;
  margin: 0 auto;
}

.logojon {
  display: flex;
}

.logojon h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 52px;
  color: #58a9a5;
}

.nav_list {
  list-style-type: none;
  display: flex;
  width: 653px;
  justify-content: space-between;
  align-items: center;
}

#home {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #58a9a5;
}

.nav_list .nav_item .nav_link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #404242;
  padding: 21px 0;
  border-bottom: 3px solid transparent;
}

.nav_list .nav_item .nav_link:hover {
  border-bottom-color: #fec62dff;
}

.btn {
  text-decoration: none;
  font-style: normal;
  font-size: 25px;
  line-height: 38px;
  padding: 21px 87px;
  background: #58a9a5;
  color: white;
  border: 1px solid rgb(23, 151, 225);
}

.btn:hover {
  background-color: #404242;
  border-color: red;
}

.signup {
  margin-right: 34px;
  font-weight: 500;
  border-radius: 15px;
}

.hamburger {
  /* width: 70px;
    height: 70px; */
  display: none;
}

/* BACKTOP */

.top {
  padding: 10px;
  border-radius: 50%;
  background-color: black;
  color: white;
  position: fixed;
  right: 50px;
  bottom: 50px;
  text-decoration: none;
}

.top:hover {
  background: #58a9a5;
  color: chartreuse;
  border: 2px solid burlywood;
}

/* ------------- MAIN ------------ */
/* ------------- SECTION1 ------------ */

.section1 {
  height: auto;
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 20px 0; */
}

.text {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 105px;
  color: #1c2323;
}

.text p {
  width: 565px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 45px;
  color: #404242;
}

.text .lets_go {
  width: 271px;
  height: 80px;
  border-radius: 20px 20px 20px 0px;
}

.color {
  width: 833.87px;
  /* height: 782px; */
  background-color: #ccf0e6;
  border-radius: 170px;
}

/* SECTION2 */

.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.section2 h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #1c2323;
  position: relative;
}

.even {
  width: 506px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #404242;
  padding: 20px 0 70px;
}

.video {
  width: 100%;
  background: #ccf0e6;
  display: flex;
  border-radius: 10px;
}

.video img {
  width: 65%;
}

.videotxt {
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 60px;
}

.videotxt p {
  width: 321px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #486958;
}

.videotxt h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
}

.pause {
  position: absolute;
  background-color: #58a9a5;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 480px;
  top: 1450px;
}

.bottomcircle {
  position: absolute;
}

.bottomcircle:hover {
  border-radius: 50%;
  border: 1px solid blue;
}

.circle {
  position: absolute;
}

.circle:hover {
  border-radius: 50%;
  border: 1px solid blue;
}

.bluetriangle {
  position: absolute;
  z-index: 1;
  /* width: 40px;
    height: 40px; */
  border-width: 30px;
  border-style: solid;
  border-color: transparent transparent transparent blue;
  opacity: 0;
  left: -10px;
}

.redtriangle {
  position: absolute;
  z-index: 2;
  /* width: 30px;
    height: 30px; */
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent transparent yellow;
  left: -5px;
}

.bluetriangle:hover {
  opacity: 1;
}

/* SECTION3 */

.section3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 100px 0;
}

.mission_image {
  width: 50%;
  display: inline-block;
}

.mission_image img {
  width: 642px;
}

.mission_image img:hover {
  border: 2px solid blue;
}

.mission {
  width: 50%;
  padding: 0 40px;
}

.mission h4 {
  width: 487px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #1c2323;
}

.mission p {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
  color: #486958;
  padding-top: 50px;
}

/* SECTION4 */

#section4 {
  width: 100%;
  padding: 60px 0 100px;
}

#section4 h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;
  color: #1c2323;
}

.project {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #404242;
  padding: 20px 0 50px;
}

#section4 hr {
  width: 145px;
  border: 4px solid #58a9a5;
  margin: 10px auto;
}

.design {
  width: 100%;
  display: flex;
  padding-top: 90px;
}

.livingroom,
.workspace,
.library {
  width: calc(100% / 3);
}

.workspace {
  padding: 0 10px;
}

.livingroom h3,
.workspace h3,
.library h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #58a9a5;
}

.livingroom p,
.workspace p,
.library p {
  /* width: 100%; */
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #486958;
}

.livingroom img,
.workspace img,
.library img {
  width: 90%;
}

.livingroom {
  padding: 20px 20px 20px 0;
}

.workspace {
  padding: 20px;
}

.livlibraryingroom {
  padding: 20px 0 20px 20px;
}

.livingroom img:hover {
  border-radius: 0 0 50% 50%;
  border: 2px solid blue;
}

.workspace img:hover {
  border-radius: 50%;
  border: 2px solid blue;
}

.library img:hover {
  border-radius: 0 0 50% 50%;
  border: 2px solid blue;
}

/* SECTION5 */

#section5 {
  width: 100%;
  padding: 60px 0;
}

#section5 h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;
  color: #1c2323;
}

.images {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

/* SECTION6 */

.section6 {
  width: 100%;
  background: #ccf0e6;
  display: flex;
  margin: 60px 0;
}

.history {
  background-image: url(./images/quote.png);
  background-repeat: no-repeat;
  background-size: 103px 80px;
  background-position: 35px 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.information {
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
}

.information > * {
  padding: 0 20px;
}

.doneproject h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #58a9a5;
}

.doneproject p {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  color: #58a9a5;
}

.experience h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #58a9a5;
}

.experience p {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  color: #58a9a5;
}

.partnership h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #58a9a5;
}

.partnership p {
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 40px;
  color: #58a9a5;
}

.pre {
  width: 600px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #486958;
  margin: 0 20px;
}

.rosco {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #486958;
  margin: 0 20px;
}

/* FOOTER */

#footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 200px 0;
}

.contact {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact h1 {
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  text-align: center;
  color: #1c2323;
}

.contact p {
  width: 398px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
}

.contact hr {
  width: 145px;
  border: 4px solid #58a9a5;
  margin: 10px 0;
}

.input {
  width: 65%;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

.input input {
  font-size: 32px;
  border: none;
  border-bottom: 2px solid black;
  margin: 20px;
}

.emailname {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  margin: 40px 20px;
}

.send textarea {
  border: none;
  padding: 0 10px;
  font-size: 32px;
}

.span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #486958;
}

.send {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 40px 40px;
}

.sendnow {
  width: 250px;
  height: 65px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  color: white;
  line-height: 38px;
  text-decoration: none;
  background-color: #58a9a5;
  border: 1px solid black;
  border-radius: 20px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sendnow:hover {
  background-color: #404242;
  border-color: red;
}

/* RESPONSIVE FOR PLANSHET */

@media screen and (max-width: 1000px) {
  .container {
    max-width: 100%;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .nav_list {
    display: none;
  }
  .video {
    display: flex;
    flex-direction: column;
  }
  .video img {
    width: 100%;
  }
  .videotxt {
    margin: 0;
    width: 100%;
  }
  .video .videotxt p {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .pause {
    display: none;
  }
  .header_container {
    display: flex;
  }
  .signup {
    display: none;
  }
  .header .hamburger {
    position: fixed;
    display: block;
    right: 10px;
    z-index: 4;
  }
  .text {
    width: 100%;
  }
  .text p {
    width: 100%;
  }
  .color {
    width: 100%;
    order: -1;
  }
  .color img {
    width: 100%;
  }
  .section1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .section3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .mission_image {
    width: 100%;
  }
  .mission_image img {
    width: 100%;
  }
  .mission {
    width: 100%;
    padding: 0;
  }
  .mission h4 {
    width: 100%;
  }
  .mission p {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
  }
  .section6 {
    display: flex;
    flex-direction: column;
  }
  .information {
    width: 100%;
    display: flex;
  }
  .information {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .history .pre {
    width: 100%;
  }
  #footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #footer .contact {
    width: 100%;
    display: flex;
    align-items: center;
  }
  #footer .input {
    width: 100%;
  }
  .send {
    width: 80%;
  }
  .emailname {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    /* flex-direction: column; */
  }
  .emailname .sendnow {
    padding: 0;
  }
}

/* RESPONSIVE FOR PHONE */

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }
  .pause {
    display: none;
  }
  .header .signup {
    display: none;
  }
  .header .hamburger {
    display: block;
  }
  .color {
    /* height: 469px; */
  }

  .text h1 {
    width: 100%;
    font-weight: 700;
    line-height: 65px;
    font-size: 40px;
  }
  .text p {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  .section2 h1 {
    width: 100%;
    font-weight: 700;
    line-height: 65px;
    font-size: 40px;
  }
  .even {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .mission h4 {
    width: 100%;
    font-weight: 700;
    line-height: 65px;
    font-size: 40px;
  }
  .mission p {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  #section4 #project {
    width: 100%;
    font-weight: 700;
    line-height: 65px;
    font-size: 40px;
  }
  #section4 .project {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  .text .lets_go {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 18px;
    padding: 0 0;
    width: 200px;
    height: 50px;
    border-radius: 10px 10px 10px 0px;
  }
  .design {
    display: flex;
    flex-direction: column;
  }
  .livingroom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .livingroom h3 {
    width: 100%;
  }
  .livingroom p {
    order: 1;
  }
  .workspace {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .workspace h3 {
    width: 100%;
    order: -1;
  }
  .library {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .library p {
    order: 1;
  }
  #section5 h1 {
    width: 100%;
    font-weight: 700;
    line-height: 65px;
    font-size: 40px;
  }
  .images {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .section6 {
    display: flex;
    flex-direction: column;
  }
  .history {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .information {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .history .pre {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  #footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contact h1 {
    width: 100%;
    font-weight: 700;
    line-height: 65px;
    font-size: 40px;
  }
  .contact p {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }
  .input {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .emailname {
    width: 80%;
  }
  .emailname input {
    width: 100%;
  }
  .send {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .send > * {
    width: 100%;
  }
  #footer input {
    padding: 20px 0;
  }
  .send textarea {
    width: 100%;
    display: flex;
  }
}
